<div class="about-me-panel">
  <div class="about-me-imagebox">
    <img src="./assets/images/me.jpg" class="img-fluid" />
  </div>
  <div class="about-me-content pt-2">
    <h5>About me</h5>
    <p>I am a Kuala Lumpur-based Software Developer. I primarily code within the .NET stack.</p>
    <div>
      <a id="emailLink" href="mailto:arsh90@gmail.com"><i class="fa fa-fw fa-envelope"></i> arsh90@gmail.com</a>
      <a routerLink="/resume">
        <i class="fa fa-fw fa-file"></i> View Resume
      </a>
      <a href="https://www.github.com/ShadAhm/" target="_blank">
        <i class="fa fa-fw fa-github"></i> View GitHub
      </a>
    </div>
  </div>
</div>