div.about-me-panel {
  box-shadow: 23ex; 
  font-size: 0.8rem;
  border: 1px solid lightgray; 
  padding: 1rem; 
}
    
div.about-me-panel div.about-me-content  {
}

div.about-me-panel div.about-me-imagebox {
  overflow: hidden; 
}

ul.about-me-actionslist {
  list-style-type: none; 
  padding-left:0; 

  li {
      padding:0; 
      margin-left:0; 
  }

  li:hover {
    background-color:papayawhip; 
  }
}