<div class="bg-white p-2">
    <strong>Sample text: </strong>
    <p>
        Lucky Lee's, a new Chinese restaurant run by a Jewish-American couple, advertised itself as providing "clean"
        Chinese food with healthy ingredients that wouldn't make people feel "bloated and icky the next day".

        It told Eater website: "There are very few American-Chinese places as mindful about the quality of ingredients
        as we are."

        The whole debate became so polarised that ratings site Yelp placed an "unusual activity" alert on the
        restaurant's page after it was flooded with both positive and negative reviews, many seemingly from people who
        hadn't actually been to the restaurant.
    </p>
    <p>
        Lucky Lee's, a new Chinese restaurant run by a Jewish-American couple, advertised itself as providing "clean"
        Chinese food with healthy ingredients that wouldn't make people feel "bloated and icky the next day".

        It told Eater website: "There are very few American-Chinese places as mindful about the quality of ingredients
        as we are."

        It prompted a fierce backlash on social media from people who accused the restaurant of racist language,
        cultural appropriation, and a lack of understanding of Chinese food.
    
        The whole debate became so polarised that ratings site Yelp placed an "unusual activity" alert on the
        restaurant's page after it was flooded with both positive and negative reviews, many seemingly from people who
        hadn't actually been to the restaurant.
    </p>
    <p>
        It prompted a fierce backlash on social media from people who accused the restaurant of racist language,
        cultural appropriation, and a lack of understanding of Chinese food.

        The restaurant's Instagram account was besieged with thousands of angry comments, including some which
        questioned the credentials of a white couple running a Chinese restaurant - as well as comments from defenders
        who accused the "online slacktivists" of being easily offended, and targeting the restaurateurs simply because
        of their race.

        The whole debate became so polarised that ratings site Yelp placed an "unusual activity" alert on the
        restaurant's page after it was flooded with both positive and negative reviews, many seemingly from people who
        hadn't actually been to the restaurant.
    </p>
    <p>
        The whole debate became so polarised that ratings site Yelp placed an "unusual activity" alert on the
        restaurant's page after it was flooded with both positive and negative reviews, many seemingly from people who
        hadn't actually been to the restaurant.
    </p>
</div>