<div class="card mb-2">
  <div class="card-body" *ngIf="data">
    <h5 class="card-title">{{data.name}}</h5>
    <p class="card-text">{{data.description}}</p>
    <a class="card-link" [href]="data.url">View Repository</a>
    <a class="card-link" [href]="data.homepage">View Demo</a>
    <a class="card-link" [href]="data.stargazers_url">
      <i class="fa fa-star"></i> {{data.stargazers_count}}
    </a>
    <a class="card-link" [href]="data.forks_url">
      <i class="fa fa-code-fork"></i> {{data.forks_count}}
    </a>
  </div>
</div>