<app-header></app-header>

<div class="container">
  <app-content-header></app-content-header>
  <div class="row">
    <div class="col mb-3 mb-sm-0">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-2 d-print-none">
      <about-me></about-me>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span>Copyright 	&copy; 2018 Arshad Ahmad (ShadAhm)<br/>
      Built with <a href="https://angular.io/">Angular</a>, hosted on <a href="https://pages.github.com/">GitHub Pages</a>. Blog built with <a href="https://github.com/jfcere/ngx-markdown">ngx-markdown</a>.<br?/>
      <a href="https://github.com/ShadAhm/shadahm.github.io">Source code and documentation.</a>
    </span>
  </div>
</footer>