i.star-orange {
    color:orange; 
}

.tags-group {
    .badge {
        margin:2px;
    }
}

.legend-table > tbody > tr > td:first-child {
    text-align: center;
    padding-right: 4px;
}

div.section-footer {
    margin-top:1rem;
}