ul.education-list {
    list-style-type: none;
    padding-left: 0px;
}

ul.education-list li {
    margin-bottom:1rem; 
}

ol.contents-list {
    list-style-position: inside;
    padding-left:0;

    li {
        line-height: 1.6rem;

        ol {
            padding-left:1.5rem;
        }

        span {
            padding-left:0.3rem;
        }
    }

    button {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        font: inherit;
        color: var(--bs-link-color);
        text-decoration: none;
        cursor: pointer;
        display: inline;

        &:hover {
            text-decoration: underline;
        }
    }
}

button.btn-back-to-top {
    position:fixed;
    bottom:1em;
    right:1em;
    z-index: 99; 
    box-shadow: 1px 1px 1px 1px #ccc;
}

span.employment-history-location {
    font-size:smaller;
}

img.img-me {
    max-width: 100%;
}