<!-- <button class="btn m-2 d-none d-md-block" (click)="print()"><i class="fa fa-print"></i> Print this resume</button> -->
<div class="bg-white p-2">
  <div class="row">
    <div class="col">
      <ol class="contents-list" id="olContentsList">
        <li *ngFor="let content of contents"><a href="javascript:void(0)"
            (click)="scrollIntoView(content.elementId)">
            <span>{{content.displayText}}</span>
          </a>
          <ol *ngIf="content.children">
            <li *ngFor="let content1 of content.children"><a href="javascript:void(0)"
                (click)="scrollIntoView(content1.elementId)"><span>{{content1.displayText}}</span></a>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-md-8">
      <h2 id="h2Introduction">Introduction</h2>
      <p>Hi, I'm Shad. And welcome to my online resume. This page was created to provide you the ability to navigate my details with ease. A printed and PDF version is also available. This resume and site itself is intended as a POC of my skills in designing and developing a navigatable and intuitive user application. I believe all software (internal or external) should be created with the user first-in-mind, providing sufficient navigation, and should be designed with complexities that requires training as little as possible.</p>
      <p>Feedbacks and comments are very welcome. Get in touch. </p>
      <!-- <button class="btn btn-sm btn-primary hidden-sm-up" (click)="scrollIntoView('olContentsList')"><i class="fa fa-arrow-up"></i> Back to top</button> -->
    </div>
  </div>

  <h2 id="h2Skills"> Technical Skills</h2>
  <div>
    <table class="table table-striped table-responsive-sm">
      <caption id="techSkillsTableCaption"><i class="fa fa-fw fa-star star-orange"></i> skills acquired through project experience of 5 years or greater
      </caption>
      <tr *ngFor="let skillCategory of technicalSkillCategories">
        <td class="w-25">{{skillCategory.name}}</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of skillCategory.skills">
              <i [ngClass]="{ 'fa-star': skill.starred }" class="fa fa-fw star-orange"></i> {{skill.name}}
            </li>
          </ul>
        </td>
      </tr>
    </table>

  </div>

  <h2 id="h2Employment">Employment History</h2>
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Position Held</th>
        <th>From</th>
        <th>To</th>
        <th>Year(s) in Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employmentHistory of employmentHistories">
        <td>
          <a [href]="employmentHistory.companyUrl">{{employmentHistory.companyName}}</a>
          <sup *ngFor="let asterisk of employmentHistory.companySubcripts"> {{asterisk}}</sup>
        </td>
        <td>{{employmentHistory.position}}</td>
        <td>{{employmentHistory.fromDate | date:'MMM y'}}</td>
        <td>
          {{employmentHistory.toDate | date:'MMM y'}}
          <i class="text-muted" *ngIf="employmentHistory.toDate == null">present</i>
        </td>
        <td>
          {{ calculateEmploymentDuration(employmentHistory.fromDate, employmentHistory.toDate) }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><strong class="pull-right">Total Years Exp: </strong></td>
        <td>
          <span>{{ calculateTotalYearsExp() }}</span>
        </td>
      </tr>
    </tfoot>
  </table>

  <h2 id="h2Education">Certifications & Education</h2>
  <hr />
  <h4>Certifications</h4>
  <ul class="education-list">
    <li>
      CityFM Management Extension Program<br />
      2018
    </li>
    <li>
      Microsoft Certified Solutions Developer (MCSD) <br />
      2013
    </li>
  </ul>

  <h4>Education</h4>
  <ul class="education-list">
    <li>
      Diploma in Multimedia (CGPA: 3.08)<br />
      Universiti Kuala Lumpur<br />
      2010
    </li>
    <li>
      GCSE (O-Level)<br />
      Heaton Manor School<br />
      2006
    </li>
  </ul>
</div>