<div class="d-flex">
    <h1 class="mr-auto">Resume</h1>
    <button class="btn m-2"><i class="fa fa-print"></i> Print this resume</button>
</div>
<div class="bg-white p-2">
  <div class="row">
    <div class="col">
      <h2>Contents</h2>
      <ol class="contents-list">
        <li *ngFor="let content of contents"><a href="javascript:void(0)"
            (click)="scrollIntoView(content.elementId)">{{content.displayText}}</a>
          <ol class="contents-list" *ngIf="content.children">
            <li *ngFor="let content1 of content.children"><a href="javascript:void(0)"
                (click)="scrollIntoView(content1.elementId)">{{content1.displayText}}</a>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-md-8">
      <h2 id="h2Introduction">Introduction</h2>
      <p>The term came into use around 1970, when the Four Asian Tigers[4] of Hong Kong, Singapore, South Korea, and
        Taiwan
        rose to global prominence as NICs in the 1970s and 1980s, with exceptionally fast industrial growth since the
        1960s;
        all four economies have since graduated into advanced economies and high-income economies. There is a clear
        distinction between these countries and the countries now considered NICs. In particular, the combination of an
        open
        political process, high GNI per capita, and a thriving, export-oriented economic policy has shown that these
        countries
        have now not only reached but surpassed the ranks of many developed countries.

        All four economies are classified as high-income economies by the World Bank and Advanced economies by the
        International Monetary Fund (IMF) and U.S. Central Intelligence Agency (CIA). All of them, like Western European
        countries, have a Human Development Index considered "very high" by the UN.</p>

    </div>
  </div>

  <h2 id="h2Skills"> Technical Skills</h2>
  <div>
    <table class="table table-striped">
      <caption>⭐ skills acquired through project experience of 5 years or greater
      </caption>
      <tr *ngFor="let skillCategory of technicalSkillCategories">
        <td class="w-25">{{skillCategory.name}}</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of skillCategory.skills">
              <span *ngIf="skill.starred">⭐</span><span *ngIf="!skill.starred" style="visibility: hidden">󠀠⬜️</span>  {{skill.name}}
            </li>
          </ul>
        </td>
      </tr>
    </table>

  </div>

  <h2 id="h2Employment">Employment History</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Position Held</th>
        <th>From</th>
        <th>To</th>
        <th>Total Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employmentHistory of employmentHistories">
        <td><a [href]="employmentHistory.companyUrl">{{employmentHistory.companyName}}</a></td>
        <td>{{employmentHistory.position}}</td>
        <td>{{employmentHistory.fromDate | date:'MMM y'}}</td>
        <td>
          {{employmentHistory.toDate | date:'MMM y'}}
          <i class="text-muted" *ngIf="employmentHistory.toDate == null">present</i>
        </td>
        <td>
          {{ calculateEmploymentDuration(employmentHistory.fromDate, employmentHistory.toDate) }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td><strong class="pull-right">Total Years Exp: </strong></td>
        <td>
          <span>{{ calculateTotalYearsExp() }}</span>
        </td>
      </tr>
    </tfoot>
  </table>


  <h2 id="h2Education">Certifications & Education</h2>
  <hr />
  <h4>Certifications</h4>
  <ul class="education-list">
    <li>
      CityFM Management Extension Program<br />
      2018
    </li>
    <li>
      Microsoft Certified Solutions Developer (MCSD) <br />
      2013
    </li>
  </ul>

  <h4>Education</h4>
  <ul class="education-list">
    <li>
      Diploma in Multimedia (CGPA: 3.08)<br />
      Universiti Kuala Lumpur<br />
      2010 
    </li>
    <li>
      GCSE (O-Level)<br />
      Heaton Manor School<br />
      2006 
    </li>
  </ul>
</div>