ul.education-list {
    list-style-type: none;
    padding-left: 0px;
}

ul.education-list li {
    margin-bottom:1rem; 
}

ol.contents-list {
    list-style-position: inside;
    padding-left:0; 

    li {
        line-height: 1.6rem; 

        ol {
            padding-left:1.5rem; 
        }

        span {
            padding-left:0.3rem; 
        }
    }
}

i.star-orange {
    color:orange; 
}

button.btn-back-to-top {
    position:fixed;
    bottom:1em;
    right:1em;
    z-index: 99; 
    box-shadow: 1px 1px 1px 1px #ccc;
}