<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Professional Projects</h5>
        <p class="card-text">
          The projects/products I have worked in during my professional experience as Software Developer or Consultant.
        </p>
        <button type="button" disabled class="btn btn-primary">Coming soon</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pet Projects</h5>
        <p class="card-text">Some things I have worked on in my spare-time.</p>
        <a routerLink="/pet-projects" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>